@charset "UTF-8";
/*------------------------------------*\
	Import
\*------------------------------------*/
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/*------------------------------------*\
	Color
\*------------------------------------*/
/*------------------------------------*\
	Font
\*------------------------------------*/
/*___________________ Title Font _____________ */
@font-face {
  font-family: "shrikhandregular";
  src: url("../css/fonts/shrikhand/shrikhand-regular-webfont.woff2") format("woff2"), url("../css/fonts/shrikhand/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*___________________ Text Font _____________ */
@font-face {
  font-family: "Roboto-Bold";
  src: url("../css/fonts/roboto/roboto_bold/Roboto-Bold.woff") format("woff"), url("../css/fonts/roboto/roboto_bold/Roboto-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotothin";
  src: url("../css/fonts/roboto/roboto_classic/roboto-thin-webfont.woff2") format("woff2"), url("../css/fonts/roboto/roboto_classic/roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*------------------------------------*\
	Général
\*------------------------------------*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "robotothin";
  font-size: 14px;
  line-height: 1.42857143;
}

a {
  text-decoration: none;
  list-style: none;
}

button {
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: "Roboto-Bold";
  font-size: 20px;
}

/*------------------------------------*\
	Header
\*------------------------------------*/
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  position: relative;
}
.header-container button {
  position: absolute;
  left: 15px;
  border: none;
  background-color: white;
}
.header-container button .fas {
  font-size: 22px;
  color: #353535;
}

/*------------------------------------*\
	Main
\*------------------------------------*/
/*___________________ Localisation _____________ */
.localisation {
  width: 100%;
  background-color: #eaeaea;
  font-family: "Roboto-Bold";
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.localisation .fas {
  margin-right: 15px;
}

/*___________________ Main-Header _____________ */
.main-header {
  background-color: #f6f6f6;
  width: 100%;
  padding: 45px 0;
  display: flex;
  justify-content: center;
}
.main-header__content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-header__content p {
  margin-top: 20px;
}
.main-header__content .buttonsearch {
  margin-top: 35px;
  height: 50px;
  width: 215px;
  border: none;
  background-color: #ff79da;
  border-radius: 25px;
  color: white;
  font-family: "Roboto-Bold";
  font-size: 15px;
}

/*___________________ Functionning _____________ */
.main-functioning {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 30px 0px;
  display: flex;
}
.main-functioning h2 {
  text-align: center;
}
.main-functioning__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-functioning__content__objet {
  margin-top: 20px;
  background-color: #f6f6f6;
  height: 75px;
  padding: 30px 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 15px #d9d9d9;
  font-family: "Roboto-Bold";
  font-size: 16px;
  position: relative;
}
.main-functioning__content__objet .number {
  background-color: #9356dc;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -10px;
}
.main-functioning__content__objet .fas {
  color: #8d8d8d;
  margin-right: 30px;
}
.main-functioning__content__objet:hover {
  background-color: #ece1f9;
}
.main-functioning__content__objet:hover .fas {
  color: #9356dc;
}

/*___________________ Main-article _____________ */
.main-article {
  width: 100%;
  background-color: #f6f6f6;
  padding: 65px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-article__content {
  margin-top: 30px;
  border-radius: 25px;
  background-color: white;
  width: 330px;
}
.main-article__content img {
  object-fit: cover;
  width: 100%;
  height: 175px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.main-article__content a {
  color: black;
}
.main-article__content h3 {
  font-family: "Roboto-Bold";
  font-size: 16px;
}
.main-article__content .article-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px;
}
.main-article__content .article-content .far {
  font-size: 24px;
}

/*------------------------------------*\
	Footer
\*------------------------------------*/
.footer-container {
  max-width: 100%;
  width: 100%;
  background-color: #353535;
}
.footer-container__content {
  padding: 25px 20px;
}
.footer-container__content .link-partner {
  font-family: "Roboto-Bold";
}
.footer-container__content a {
  color: white;
}
.footer-container__content img {
  font-size: 15px;
}
.footer-container__content ul {
  margin-top: 25px;
}
.footer-container__content li {
  line-height: 1.9;
}
.footer-container__content li .fas {
  margin-right: 10px;
}
.footer-container__content li .fa-hands-helping {
  font-size: 10px;
}

/*------------------------------------*\
	Pages
\*------------------------------------*/
.bloc-palette {
  display: flex;
  flex-direction: column;
}
.bloc-palette section {
  padding: 45px 15px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #f6f6f6;
}
.bloc-palette h2 {
  font-family: "shrikhandregular";
  font-size: 28px;
}
.bloc-palette h2 .far {
  margin-left: 35px;
}
.bloc-palette img {
  object-fit: cover;
  height: 300px;
}
.bloc-palette button {
  margin: 50px 0;
  height: 50px;
  width: 215px;
  border: none;
  background-color: #ff79da;
  border-radius: 25px;
  color: white;
  font-family: "Roboto-Bold";
  font-size: 15px;
}
.bloc-palette .command-button {
  display: flex;
  justify-content: center;
}

.main-list-one {
  margin-top: 45px;
}
.main-list-one h3 {
  font-size: 16px;
  margin-bottom: 5px;
}
.main-list-one h4 {
  font-family: "Roboto-Bold";
  font-size: 16px;
}
.main-list-one__decoration {
  border: #99e2d0 2px solid;
  width: 12%;
  margin-bottom: 10px;
}
.main-list-one__option {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 2px 15px #d9d9d9;
  margin-top: 15px;
  padding: 15px;
}
.main-list-one__option--description {
  display: flex;
  justify-content: space-between;
}
.main-list-one__option--description .price {
  font-family: "Roboto-Bold";
  color: #353535;
}

/*------------------------------------*\
	---Mediaquerries Desktop---
\*------------------------------------*/
@media screen and (min-width: 992px) {
  .main-functioning {
    align-items: center;
    min-width: 100%;
  }
  .main-functioning__content {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .main-functioning__content__objet {
    width: 30%;
  }

  .main-article h2 {
    text-align: center;
    margin-bottom: 80px;
  }
  .main-article ul {
    width: 65%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-container__content {
    width: 47%;
    margin-left: auto;
    margin-right: auto;
  }
}
/*------------------------------------*\
	Pages
\*------------------------------------*/
.bloc-palette {
  width: 1340px;
  margin-left: auto;
  margin-right: auto;
}
.bloc-palette .main-list-one ul {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.bloc-palette .main-list-one ul li {
  width: 35%;
}
.bloc-palette .main-list-one__option {
  margin-right: 25px;
}

/*------------------------------------*\
	---Mediaquerries Tablette---
\*------------------------------------*/

/*# sourceMappingURL=style.css.map */
