/*------------------------------------*\
	Import
\*------------------------------------*/
@import "utils/minireset.scss";
@import "utils/variables.scss";
@import "utils/animation.scss";
/*------------------------------------*\
	Font
\*------------------------------------*/
/*___________________ Title Font _____________ */
@font-face {
    font-family: 'shrikhandregular';
    src: url('../css/fonts/shrikhand/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/shrikhand/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*___________________ Text Font _____________ */
@font-face {
    font-family: 'Roboto-Bold';
    src:url('../css/fonts/roboto/roboto_bold/Roboto-Bold.woff') format('woff'),
        url('../css/fonts/roboto/roboto_bold/Roboto-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('../css/fonts/roboto/roboto_classic/roboto-thin-webfont.woff2') format('woff2'),
         url('../css/fonts/roboto/roboto_classic/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*------------------------------------*\
	Général
\*------------------------------------*/
* {
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
  }

  body
  {
      font-family: 'robotothin';
      font-size: 14px;
      line-height: 1.42857143;
  }

  a
{
    text-decoration:none; 
    list-style: none;
}

button
{
    text-decoration:none; 
    list-style: none;
    box-shadow: 0px 4px 15px rgba(180, 180, 180, 1);
}

  
  .container
  {
      max-width: 100%;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
  }

h2
{
    font-family: 'Roboto-Bold';
    font-size: 20px;
}

.fa-heart {

}
.fa-heart::before {
    content: "\f004";
    transition: color 1s ease-out;
}
.fa-heart:hover::before{
    color: $ColorPrimary;
    font-weight: bold;  
}
/*------------------------------------*\
	Loader
\*------------------------------------*/

.loader
{
    width: 100%;
    height: 100%;
    background: linear-gradient($ColorSecondary, $ColorPrimary);
    position: absolute;
    opacity: 1;
    animation: disapear 3s linear forwards;
    -webkit-animation: disapear 3s linear forwards;
}

.loading
{
    background: url(../img/Logo/ohmyfood@2x.svg) no-repeat center;
    background-size: 95%;
    border: 10px solid $ColorPrimary;
    border-right: none;
    border-left: none;
    border-bottom: 10px solid $ColorThird;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear forwards;
    -webkit-animation: spin 2s linear forwards;


    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


/*------------------------------------*\
	Header
\*------------------------------------*/
.header-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;


    button
    {
        position: absolute;
        left: 15px;
        border: none;
        background-color: white;
        box-shadow: none;

        .fas
        {
            font-size: 22px;
            color: rgba(53, 53, 53, 1);
        }
    }
}

/*------------------------------------*\
	Main
\*------------------------------------*/

/*___________________ Localisation _____________ */

.localisation
{
    width: 100%;
    background-color: rgba(234, 234 , 234, 1);
    font-family: 'Roboto-Bold';
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
        .fas
        {
            margin-right: 15px;
        }
}

/*___________________ Main-Header _____________ */
.main-header
{
    background-color: rgba(246, 246, 246, 1);
    width: 100%;
    padding: 45px 0;
    display: flex;
    justify-content: center;

        &__content
        {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            p
            {
                margin-top: 20px;
            }

            .buttonsearch
            {
                margin-top: 35px;
                height: 50px;
                width: 215px;
                border: none;
                border-radius: 25px;
                color: white;
                font-family: 'Roboto-Bold';
                font-size: 15px;
                background: linear-gradient($ColorSecondary, $ColorPrimary);            
                &:hover
                {
                    background: lighten($ColorPrimary, 10%)
                }
            }
        }
}

/*___________________ Functionning _____________ */
.main-functioning
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 30px 0px;
    display: flex;
        h2
        {
            text-align: center;
        }
        &__content
        {
            display: flex;
            flex-direction: column;
            width: 100%;
            &__objet
            {
                margin-top: 20px;
                background-color: rgba(246, 246, 246, 1);
                height: 75px;
                padding: 30px 40px;
                border-radius: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 2px 15px rgba(217, 217, 217, 1);
                font-family: 'Roboto-Bold';
                font-size: 16px;

                    .number
                    {
                        background-color: $ColorPrimary;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        margin-left: -50px;
                        margin-right: 20px;
                    }

                    .fas
                    {
                        color: rgba(141, 141, 141, 1);
                        margin-right: 30px;
                    }

                    .fa-list-ul
                    {
                        font-size: 22px;
                    }

                    &:hover
                        {
                            background-color: lighten($ColorPrimary, 33%);
                            .fas
                                {
                                    color: $ColorPrimary;
                                }
                        }
            }
        }
}

/*___________________ Main-article _____________ */
.main-article
{
    width: 100%;
    background-color: rgba(246, 246, 246, 1);
    padding: 65px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__content
    {
        margin-top: 30px;
        border-radius: 25px;
        background-color: white;
        width: 330px;

        img
        {
            object-fit: cover;
            width: 100%;
            height: 175px;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }

        a
        {
            color: black;
        }

        h3
        {
            font-family: 'Roboto-Bold';
            font-size: 16px;
        }

        .article-content
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 25px 15px;

                .far
                {
                    font-size: 24px;
                }
        } 
    }
}

/*------------------------------------*\
	Footer
\*------------------------------------*/
.footer-container
{
    max-width: 100%;
    width: 100%;
    background-color: rgba(53, 53, 53, 1);
        &__content 
        {
            padding: 25px 20px;
            .link-partner
            {
                font-family: 'Roboto-Bold';
            }

            a 
            {
                color: white;
            }

            img 
            {
                font-size: 15px;
            }

            ul
            {
                margin-top: 25px;
            }

            li
            {
                line-height: 1.9;

                    .fas
                    { 
                    margin-right: 10px;
                    }

                    .fa-hands-helping
                    {
                        font-size: 10px;
                    }
            }

        }
}

/*------------------------------------*\
	Pages
\*------------------------------------*/

.bloc-palette
{
    display: flex;
    flex-direction: column;
    position: relative;
        &__decoration
        {
            background-color: rgba(246, 246, 246, 1);
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            min-width: 100%;
            height: 25px;
            position: absolute;
            top: 280px;
        }

        section
        {
            padding: 20px 15px;
            width: 100%;
            background-color: rgba(246, 246, 246, 1);
        }

        h2
        {
            font-family: 'shrikhandregular';
            font-size: 28px;
                .far
                {
                margin-left: 35px; 
                }
        }

        img
        {
            object-fit: cover;
            height: 300px;
        }

        button
                {
                    margin: 50px 0;
                    height: 50px;
                    width: 215px;
                    border: none;
                    border-radius: 25px;
                    color: white;
                    font-family: 'Roboto-Bold';
                    font-size: 15px;
                    background: linear-gradient($ColorSecondary, $ColorPrimary);
                    
                    &:hover
                    {
                        background: lighten($ColorPrimary, 10%)
                    }
                }

        .command-button
        {
            display: flex;
            justify-content: center;
        }
}

.main-list-one
{
    margin-top: 45px;
    animation: entrance 3s linear both;
    &:nth-child(1)
    {
        animation-delay: 0.5s;
    }

    &:nth-child(2)
    {
        animation-delay: 1s;
    }

    &:nth-child(3)
    {
        animation-delay: 1.5s;
    }
    
    h3
    {
        font-size: 16px;
        margin-bottom: 5px;
    }


    h3:after
        {
            content: '';
            border-bottom: 2px solid $ColorThird;
            width: 35px;
            display: block;
        }


    h4
    {
        font-family: 'Roboto-Bold';
        font-size: 16px;
    }

    &__option
    {
        border-radius: 20px;
        background-color: white;
        box-shadow: 0px 2px 15px rgba(217, 217, 217, 1);
        margin-top: 15px;
        padding: 15px;


        &--description
        {
            display: flex;
            justify-content: space-between;
            
            .price
            {
                font-family: 'Roboto-Bold';
                color: rgba(53, 53, 53, 1);
            }
        }
    }
}

/*------------------------------------*\
	---Mediaquerries Desktop---
\*------------------------------------*/

@media screen and (min-width : 992px)
{
.main-functioning
    {
        align-items: center;
        min-width: 100%;

            &__content
            {
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                &__objet
                {
                    width:30%;
                }
            }
    }

.main-article
    {

        h2
        {
            text-align: center;
            margin-bottom: 80px;
        }     

        article
        {
            width: 100%;
            display: flex;
            justify-content: center;
        
            ul
                {
                    width: 55%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                }
            }
        
    }

.footer-container__content
    {
        width: 47%;
        margin-left: auto;
        margin-right: auto;
    }



/*------------------------------------*\
	Pages
\*------------------------------------*/

.bloc-palette
{
    margin-left: auto;
    margin-right: auto;

    img{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    &__decoration
        {
            display: none;
        }
    
    .main-list-one
    {

        ul
        {
            max-width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;

                li
                {
                    max-width: 50%
                }
                
        }
        &__option
        {
            margin-right: 25px;
        }
    }
}
}

/*------------------------------------*\
	---Mediaquerries Tablette---
\*------------------------------------*/
@media screen and (min-width:768px)
{

.main-article
    {
        h2
        {
            text-align: center;
            margin-bottom: 40px;
        }

        ul
            {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                
            }
    }

/*------------------------------------*\
	Pages
\*------------------------------------*/

.bloc-palette
{
    margin-left: auto;
    margin-right: auto;
    &__decoration
        {
            min-width: 70%;
            left: 115px;
        }

    section
    {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .main-list-one
    {
        width: 100%;

        ul
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;

                li
                {
                    width: 80%
                }
                
        }
        &__option
        {
            margin-right: 25px;
        }
    }

}


}



