/*------------------------------------*\
	Import
\*------------------------------------*/
@import "utils/minireset.scss";
@import "utils/variables.scss";
/*------------------------------------*\
	Font
\*------------------------------------*/
/*___________________ Title Font _____________ */
@font-face {
    font-family: 'shrikhandregular';
    src: url('../css/fonts/shrikhand/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/shrikhand/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*___________________ Text Font _____________ */
@font-face {
    font-family: 'Roboto-Bold';
    src:url('../css/fonts/roboto/roboto_bold/Roboto-Bold.woff') format('woff'),
        url('../css/fonts/roboto/roboto_bold/Roboto-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('../css/fonts/roboto/roboto_classic/roboto-thin-webfont.woff2') format('woff2'),
         url('../css/fonts/roboto/roboto_classic/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*------------------------------------*\
	Général
\*------------------------------------*/
* {
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
  }

  body
  {
      font-family: 'robotothin';
      font-size: 14px;
      line-height: 1.42857143;
  }

  a
{
    text-decoration:none; 
    list-style: none;
}

button
{
    text-decoration:none; 
    list-style: none;
}
  
  .container
  {
      max-width: 100%;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
  }

/*------------------------------------*\
	Header
\*------------------------------------*/
.header-container
{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/*------------------------------------*\
	Main
\*------------------------------------*/

/*___________________ Localisation _____________ */

.localisation
{
    width: 100%;
    background-color: rgba(234, 234 , 234, 1);
    font-family: 'Roboto-Bold';
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
        .fas
        {
            margin-right: 15px;
        }
}

/*___________________ Main-Header _____________ */
.main-header
{
    background-color: rgba(246, 246, 246, 1);
    width: 100%;
    padding: 45px 0;
    display: flex;
    justify-content: center;

        &__content
        {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            h2
            {
                font-family: 'Roboto-Bold';
                font-size: 20px;
            }

            p
            {
                margin-top: 20px;
            }

            .buttonsearch
            {
                margin-top: 35px;
                height: 50px;
                width: 215px;
                border: none;
                background-color: $ColorSecondary;
                border-radius: 25px;
                color: white;
                font-family: 'Roboto-Bold';
                font-size: 15px;
            }
        }
}


/*------------------------------------*\
	Footer
\*------------------------------------*/
.footer-container
{
    max-width: 100%;
    width: 100%;
    background-color: rgba(53, 53, 53, 1);
        &__content 
        {
            padding: 25px 20px;
            .link-partner
            {
                font-family: 'Roboto-Bold';
            }

            a 
            {
                color: white;
            }

            img 
            {
                font-size: 15px;
            }

            ul
            {
                margin-top: 25px;
            }

            li
            {
                line-height: 1.9;
                    .fas
                    { 
                    margin-right: 10px;
                    }
                    .fa-hands-helping
                    {
                        font-size: 10px;
                    }
            }

        }
}
