/*------------------------------------*\
	Color
\*------------------------------------*/
$ColorPrimary: rgba(147, 86, 220, 1);
$ColorSecondary: rgba(255, 121, 218, 1);
$ColorThird: rgba(153, 226, 208, 1);

